@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(210 25% 7.8431%);
  --card: hsl(180 6.6667% 97.0588%);
  --card-foreground: hsl(210 25% 7.8431%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(210 25% 7.8431%);
  --primary: hsl(213.3 88.2% 53.1%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(217.2 91.2% 39.8%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(240 1.9608% 90%);
  --muted-foreground: hsl(210 25% 7.8431%);
  --accent: hsl(42.1 96.1% 50.4%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(356.3033 90.5579% 54.3137%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(201.4286 30.4348% 90.9804%);
  --input: hsl(200 23.0769% 97.4510%);
  --ring: hsl(202.8169 89.1213% 53.1373%);
  --chart-1: hsl(203.8863 88.2845% 53.1373%);
  --chart-2: hsl(159.7826 100% 36.0784%);
  --chart-3: hsl(42.0290 92.8251% 56.2745%);
  --chart-4: hsl(147.1429 78.5047% 41.9608%);
  --chart-5: hsl(341.4894 75.2000% 50.9804%);
  --sidebar: hsl(180 6.6667% 97.0588%);
  --sidebar-foreground: hsl(210 25% 7.8431%);
  --sidebar-primary: hsl(203.8863 88.2845% 53.1373%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(211.5789 51.3514% 92.7451%);
  --sidebar-accent-foreground: hsl(203.8863 88.2845% 53.1373%);
  --sidebar-border: hsl(205.0000 25.0000% 90.5882%);
  --sidebar-ring: hsl(202.8169 89.1213% 53.1373%);
  --font-sans: 'Inter', sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --slate-50: hsl(210 40% 98%);
  --slate-100: hsl(210 40% 96%);
  --slate-200: hsl(214 32% 91%);
  --slate-300: hsl(213 27% 84%);
  --slate-600: hsl(218 11% 65%);
  --slate-700: hsl(215 16% 47%);
  --slate-800: hsl(217 19% 27%);
  --blue-100: hsl(214 95% 93%);
  --blue-600: hsl(217 91% 60%);
  --pink-100: hsl(326 100% 94%);
  --pink-500: hsl(330 81% 60%);
  --green-100: hsl(149 80% 90%);
  --green-500: hsl(142 71% 45%);
  --amber-100: hsl(48 100% 88%);
  --yellow-400: hsl(54 91% 60%);
  --yellow-600: hsl(45 93% 47%);
}

.dark {
  --background: hsl(0 0% 0%);
  --foreground: hsl(200 6.6667% 91.1765%);
  --card: hsl(228 9.8039% 10%);
  --card-foreground: hsl(0 0% 85.0980%);
  --popover: hsl(0 0% 0%);
  --popover-foreground: hsl(200 6.6667% 91.1765%);
  --primary: hsl(203.7736 87.6033% 52.5490%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(195.0000 15.3846% 94.9020%);
  --secondary-foreground: hsl(210 25% 7.8431%);
  --muted: hsl(0 0% 9.4118%);
  --muted-foreground: hsl(210 3.3898% 46.2745%);
  --accent: hsl(205.7143 70% 7.8431%);
  --accent-foreground: hsl(203.7736 87.6033% 52.5490%);
  --destructive: hsl(356.3033 90.5579% 54.3137%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(210 5.2632% 14.9020%);
  --input: hsl(207.6923 27.6596% 18.4314%);
  --ring: hsl(202.8169 89.1213% 53.1373%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .bg-slate-50 {
    background-color: var(--slate-50);
  }
  
  .bg-slate-100 {
    background-color: var(--slate-100);
  }
  
  .bg-slate-200 {
    background-color: var(--slate-200);
  }
  
  .text-slate-300 {
    color: var(--slate-300);
  }
  
  .text-slate-600 {
    color: var(--slate-600);
  }
  
  .text-slate-700 {
    color: var(--slate-700);
  }
  
  .text-slate-800 {
    color: var(--slate-800);
  }
  
  .border-slate-100 {
    border-color: var(--slate-100);
  }
  
  .border-slate-200 {
    border-color: var(--slate-200);
  }
  
  .border-slate-300 {
    border-color: var(--slate-300);
  }
  
  .bg-blue-100 {
    background-color: var(--blue-100);
  }
  
  .hover\:bg-blue-600:hover {
    background-color: var(--blue-600);
  }
  
  .bg-pink-100 {
    background-color: var(--pink-100);
  }
  
  .text-pink-500 {
    color: var(--pink-500);
  }
  
  .bg-green-100 {
    background-color: var(--green-100);
  }
  
  .text-green-500 {
    color: var(--green-500);
  }
  
  .bg-amber-100 {
    background-color: var(--amber-100);
  }
  
  .text-yellow-400 {
    color: var(--yellow-400);
  }
  
  .hover\:bg-yellow-600:hover {
    background-color: var(--yellow-600);
  }
}
